{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h1 class="display-3">Bienvenido a tú librería virtual</h2>
            <p>Empezar a ingresar libros</p>
            <a class="btn btn-primary btn-lg" href="jumbo action link" role="button">empezar</a>
        </div>
   </div>
    
{% endblock %}